* {
    margin: 0;
    padding: 0;
    // border: 1px solid red;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 125%;
    font-weight: 400;
    letter-spacing: 1.1px;
}

h2,h3 {
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h4, h5 {
    font-weight: 700;
    letter-spacing: 2px;
}

h1 {
    margin: 0;
    font-family: "Satisfy", serif;
    text-transform: capitalize;
    color: $lightPink;
}

.btn, a {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1rem;
     
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}

.wrapper {
    margin: 0 7.5rem;
    max-width: 1200px;
    display: flex;
}

// .imgContainer {
//     width: 300px;
//     // change
    
// }
img {
    width: 100%;
    object-fit: cover;
    // change
    
}