.skillContainer {
    background-color: $lightPink;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3, .skillsCoding {
            margin-bottom: 50px;
        }

        .skillsCoding,
        .skillsDesign {
            display: flex;
            flex-direction: row;
            gap: 50px;
            

            li {
                display: flex;
                flex-direction: column;
                align-items: center;

                i {
                    font-size: 4rem;
                }

                h5 {
                    margin-top: 10px;
                }
            }
        }

        .skillsCoding li img {
            width: 50px; 
        }

        .skillsDesign li img {
            width: 65px;
        }
    }
}