// site colours
$darkGreen: #022626;
$salmon: #F3736C;
$mango: #FBB255;
$lightGreen: #7fab97;
$lightPink: #FFDBD9;
$lighterPink: #fef6f6;
$midGreen: #345144;

//  #fde8e6 #aec6bb #02231f #0b3737 #20362f #0e2321