// site colours
$darkGreen: #022626;
$salmon: #e57769;
$mango: #f5a945;
$lightBlue: #f1fafa;
$lightPink: #FFDBD9;
$lighterPink: #fff3f3;
$midGreen: #345144;

//  #fde8e6 #aec6bb #02231f #0b3737 #20362f #0e2321 F24173