html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 125%;
  font-weight: 300;
  letter-spacing: 1.2px;
  width: 100vw;
}

h2, h3 {
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h4, h5 {
  font-weight: 600;
  letter-spacing: 2px;
}

h1 {
  margin: 0;
  font-family: "Satisfy", serif;
  text-transform: capitalize;
  color: #FFDBD9;
}

h3 {
  font-size: 2.4rem;
  color: #e57769;
  margin-bottom: 40px;
}

.bold {
  font-weight: 700;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

.btn, a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2.2px;
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.wrapper {
  margin: 0 7.5rem;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

nav {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .wrapper .navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 500px;
  margin-top: 50px;
}
nav .wrapper .navMenu .logoImg {
  width: 100px;
}
nav .wrapper .navMenu .navBarList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .wrapper .navMenu .navBarList li {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .wrapper .navMenu .navBarList li a {
  font-size: 1.1rem;
  color: #FFDBD9;
  text-align: center;
  -webkit-transition: color 0.8s, font-weight 0.8s, scale 0.8s;
  transition: color 0.8s, font-weight 0.8s, scale 0.8s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
nav .wrapper .navMenu .navBarList li a:hover,
nav .wrapper .navMenu .navBarList li a:active,
nav .wrapper .navMenu .navBarList li a:focus {
  color: #e57769;
  font-weight: 600;
  scale: 1.1;
}

.headerSection {
  background-image: url(../assets/malte-michels-s4wGZw3UuLk-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headerSection .wrapper {
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerSection .wrapper .heroText {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerSection .wrapper .heroText h1 {
  font-size: 8rem;
  text-align: center;
}
.headerSection .wrapper .heroText h2 {
  font-size: 1.8rem;
  text-align: center;
  color: #FFDBD9;
  margin-bottom: 20px;
  font-weight: 600;
}
.headerSection .wrapper .heroText a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.5rem;
  color: #f5a945;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #f5a945;
  margin-top: 50px;
  -webkit-transition: color 0.9s, background-color 0.9s, scale 1.5s, border-color 0.9s, -webkit-box-shadow 0.9s;
  transition: color 0.9s, background-color 0.9s, scale 1.5s, border-color 0.9s, -webkit-box-shadow 0.9s;
  transition: color 0.9s, background-color 0.9s, scale 1.5s, box-shadow 0.9s, border-color 0.9s;
  transition: color 0.9s, background-color 0.9s, scale 1.5s, box-shadow 0.9s, border-color 0.9s, -webkit-box-shadow 0.9s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.headerSection .wrapper .heroText a:hover,
.headerSection .wrapper .heroText a:active,
.headerSection .wrapper .heroText a:focus {
  color: #fff3f3;
  background-color: #e57769;
  border-color: #e57769;
  scale: 1.2;
  -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
}

.mainSection {
  background-color: #fff3f3;
}
.mainSection .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}
.mainSection .formBtn {
  background-color: transparent;
  border: none;
  font-family: "Jost", sans-serif;
}
.mainSection .btn {
  color: #f5a945;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid #f5a945;
  -webkit-transition: color 0.8s, background-color 0.8s, border-color 0.8s, -webkit-box-shadow 0.8s;
  transition: color 0.8s, background-color 0.8s, border-color 0.8s, -webkit-box-shadow 0.8s;
  transition: color 0.8s, background-color 0.8s, box-shadow 0.8s, border-color 0.8s;
  transition: color 0.8s, background-color 0.8s, box-shadow 0.8s, border-color 0.8s, -webkit-box-shadow 0.8s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.mainSection .btn:hover,
.mainSection .btn:active,
.mainSection .btn:focus {
  color: #fff3f3;
  background-color: #e57769;
  border-color: #e57769;
  -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 22px rgba(0, 0, 0, 0.16);
}

.aboutSection .wrapper {
  gap: 40px;
}
.aboutSection .wrapper .textContainer {
  width: 55%;
}
.aboutSection .wrapper .textContainer h3 {
  margin-top: 40px;
}
.aboutSection .wrapper .textContainer p:nth-child(3) {
  margin-bottom: 50px;
}
.aboutSection .wrapper .imgContainer {
  width: 45%;
  height: 450px;
}

.skillContainer {
  background-color: #FFDBD9;
}
.skillContainer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skillContainer .wrapper h3, .skillContainer .wrapper .skillsCoding {
  margin-bottom: 50px;
}
.skillContainer .wrapper .skillsCoding,
.skillContainer .wrapper .skillsDesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
}
.skillContainer .wrapper .skillsCoding li,
.skillContainer .wrapper .skillsDesign li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skillContainer .wrapper .skillsCoding li i,
.skillContainer .wrapper .skillsDesign li i {
  font-size: 4rem;
}
.skillContainer .wrapper .skillsCoding li h5,
.skillContainer .wrapper .skillsDesign li h5 {
  margin-top: 10px;
}
.skillContainer .wrapper .skillsCoding li img {
  width: 50px;
}
.skillContainer .wrapper .skillsDesign li img {
  width: 65px;
}

.resumeContainer .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.resumeContainer .wrapper .timelineContainer {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}
.resumeContainer .wrapper .timelineContainer .educationContainer {
  width: 40%;
}
.resumeContainer .wrapper .timelineContainer .experienceContainer {
  width: 60%;
}
.resumeContainer .wrapper .timelineContainer .experienceContainer ul {
  padding-top: 80px;
}
.resumeContainer .wrapper .timelineContainer .educationContainer h4,
.resumeContainer .wrapper .timelineContainer .experienceContainer h4 {
  margin-bottom: 30px;
}
.resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft,
.resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeRight,
.resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft,
.resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeRight {
  padding: 20px 40px;
  position: relative;
  background-color: #FFDBD9;
  border-radius: 10px;
}
.resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft:nth-child(1),
.resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft:nth-child(1) {
  margin-bottom: 210px;
}
.resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft:nth-child(2),
.resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft:nth-child(2) {
  margin-bottom: 105px;
}
.resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeRight,
.resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeRight {
  margin-bottom: 30px;
}
.resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft::before,
.resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft::before {
  content: "";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  z-index: 10;
  right: -15px;
  border: medium solid #FFDBD9;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #FFDBD9;
}
.resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeRight::before,
.resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeRight::before {
  content: "";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  z-index: 10;
  left: -15px;
  border: medium solid #FFDBD9;
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFDBD9 transparent transparent;
}
.resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft::after,
.resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -49px;
  background-color: #e57769;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
}
.resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeRight::after,
.resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeRight::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -51px;
  background-color: #e57769;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
}
.resumeContainer .wrapper .timelineContainer::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #e57769;
  top: 50px;
  bottom: 0;
  left: 40.5%;
  margin-left: -3px;
}

.sectionBreak {
  background-color: #FFDBD9;
  height: 20vh;
}

.portfolioSection .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolioSection .wrapper .filterDropdown {
  display: none;
  visibility: hidden;
}
.portfolioSection .wrapper .portfolioFilterList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.portfolioSection .wrapper .portfolioFilterList li {
  text-align: center;
  width: 60px;
  cursor: pointer;
  -webkit-transition: color 0.8s, font-weight 0.8s, scale 0.8s;
  transition: color 0.8s, font-weight 0.8s, scale 0.8s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.portfolioSection .wrapper .portfolioFilterList li:nth-child(2) {
  margin-left: -10px;
  margin-right: -5px;
}
.portfolioSection .wrapper .portfolioFilterList li:nth-child(5) {
  margin-left: 8px;
  margin-right: 12px;
}
.portfolioSection .wrapper .portfolioFilterList li:nth-child(6) {
  margin-right: 30px;
}
.portfolioSection .wrapper .portfolioFilterList li:hover,
.portfolioSection .wrapper .portfolioFilterList li:active,
.portfolioSection .wrapper .portfolioFilterList li:focus {
  color: #e57769;
  font-weight: 600;
  scale: 1.1;
}
.portfolioSection .wrapper .portfolioContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolioSection .wrapper .portfolioContent .portfolioItem {
  width: 48.5%;
}
.portfolioSection .wrapper .portfolioContent .portfolioItem .projectHoverContainer {
  position: relative;
  height: 375px;
  margin-bottom: 20px;
}
.portfolioSection .wrapper .portfolioContent .portfolioItem .projectHoverContainer img {
  height: 100%;
}
.portfolioSection .wrapper .portfolioContent .portfolioItem .projectHoverContainer .titleHover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 38, 38, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
.portfolioSection .wrapper .portfolioContent .portfolioItem .projectHoverContainer .titleHover .linkBtn {
  margin: 0 8px;
}
.portfolioSection .wrapper .portfolioContent .portfolioItem .projectHoverContainer .titleHover:hover,
.portfolioSection .wrapper .portfolioContent .portfolioItem .projectHoverContainer .titleHover:active,
.portfolioSection .wrapper .portfolioContent .portfolioItem .projectHoverContainer .titleHover:focus {
  opacity: 1;
}
.portfolioSection .wrapper .portfolioContent .portfolioItem .projectTitleContainer {
  margin-bottom: 50px;
  text-align: center;
}
.portfolioSection .wrapper .portfolioMoreBtn {
  margin-top: 100px;
}

.contactSection {
  background-color: #022626;
}
.contactSection h3 {
  margin-bottom: 50px;
  color: #FFDBD9;
}
.contactSection h4,
.contactSection h5,
.contactSection p {
  color: #6a8679;
}
.contactSection h4,
.contactSection h5 {
  margin-bottom: 10px;
}
.contactSection .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactSection .wrapper .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  width: 100%;
}
.contactSection .wrapper .contactContainer .contactFormContainer {
  width: 60%;
}
.contactSection .wrapper .contactContainer .contactFormContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.contactSection .wrapper .contactContainer .contactFormContainer form input,
.contactSection .wrapper .contactContainer .contactFormContainer form textarea {
  border: none;
  padding: 10px;
  font-family: "Jost", sans-serif;
  background: #345144;
  color: #fff3f3;
}
.contactSection .wrapper .contactContainer .contactFormContainer form .formBtn {
  width: 40%;
  margin-top: 20px;
  color: #FFDBD9;
  border-color: #FFDBD9;
  -webkit-transition: color 0.9s, background-color 0.9s, border-color 0.9s;
  transition: color 0.9s, background-color 0.9s, border-color 0.9s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.contactSection .wrapper .contactContainer .contactFormContainer form .formBtn:hover,
.contactSection .wrapper .contactContainer .contactFormContainer form .formBtn:active,
.contactSection .wrapper .contactContainer .contactFormContainer form .formBtn:focus {
  color: #fff3f3;
  border-color: #e57769;
}
.contactSection .wrapper .contactContainer .contactDetailsContainer h4 {
  margin-bottom: 50px;
}
.contactSection .wrapper .contactContainer .contactDetailsContainer p {
  margin-bottom: 30px;
}
.contactSection .wrapper .contactContainer .contactDetailsContainer .socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.contactSection .wrapper .contactContainer .contactDetailsContainer .socialList li {
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: 10px;
}
.contactSection .wrapper .contactContainer .contactDetailsContainer .socialList li a {
  font-size: 2rem;
  color: #6a8679;
  -webkit-transition: color 0.8s, font-size 0.8s;
  transition: color 0.8s, font-size 0.8s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.contactSection .wrapper .contactContainer .contactDetailsContainer .socialList li a:hover,
.contactSection .wrapper .contactContainer .contactDetailsContainer .socialList li a:focus,
.contactSection .wrapper .contactContainer .contactDetailsContainer .socialList li a:active {
  color: #FFDBD9;
  font-size: 2.3rem;
}

footer {
  background-color: #022626;
}
footer .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
footer .wrapper p {
  color: #6a8679;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .wrapper {
    margin: 3rem;
  }
  nav .wrapper .navMenu {
    gap: 100px;
  }
  nav .wrapper .navMenu .logoImg {
    width: 80px;
  }
  .mainSection .main-content {
    padding: 30px 0;
  }
  .skillContainer .wrapper .skillsCoding {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px 80px;
  }
  .resumeContainer .wrapper .timelineContainer h5 {
    font-size: 1.2rem;
  }
  .resumeContainer .wrapper .timelineContainer p {
    font-size: 1rem;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft:nth-child(1),
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft:nth-child(1) {
    margin-bottom: 182px;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft:nth-child(2),
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft:nth-child(2) {
    margin-bottom: 80px;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft::after,
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft::after {
    right: -47px;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeRight::after,
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeRight::after {
    left: -52px;
  }
  .sectionBreak {
    height: 10vh;
  }
  .portfolioSection .wrapper .portfolioContent .portfolioItem {
    width: 45%;
  }
  .contactSection .wrapper .contactContainer .contactFormContainer {
    width: 70%;
  }
  .contactSection .wrapper .contactContainer .contactFormContainer form .formBtn {
    width: 50%;
  }
}
@media (max-width: 810px) {
  .wrapper {
    margin: 2rem;
  }
  nav .wrapper .navMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  nav .wrapper .navMenu .logoImg {
    width: 60px;
  }
  nav .wrapper .navMenu .navBarList {
    gap: 20px;
  }
  .headerSection .wrapper .heroText h1 {
    font-size: 6rem;
  }
  .headerSection .wrapper .heroText h2 {
    font-size: 1.6rem;
  }
  .aboutSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutSection .wrapper .textContainer,
  .aboutSection .wrapper .imgContainer {
    width: 100%;
  }
  .skillContainer .wrapper h5 {
    font-size: 1.2rem;
  }
  .skillContainer .wrapper .skillsCoding {
    width: 90%;
  }
  .resumeContainer .wrapper h4 {
    margin-left: 80px;
  }
  .resumeContainer .wrapper .timelineContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 30px;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer,
  .resumeContainer .wrapper .timelineContainer .experienceContainer {
    width: 95%;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer ul,
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul {
    padding-top: 0;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft:nth-child(1),
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft:nth-child(2),
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft:nth-child(1),
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft:nth-child(2) {
    margin-bottom: 30px;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft,
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeRight,
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft,
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeRight {
    margin-left: 80px;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft::before,
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft::before {
    right: 0;
    left: -15px;
    border-width: 15px 15px 15px 0;
    border-color: transparent #FFDBD9 transparent transparent;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft::after,
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeRight::after,
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft::after,
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeRight::after {
    right: 0;
    left: -53px;
  }
  .resumeContainer .wrapper .timelineContainer::after {
    left: 5%;
  }
  .portfolioSection .wrapper .portfolioContent {
    gap: 10px;
  }
  .portfolioSection .wrapper .portfolioContent .portfolioItem {
    width: 100%;
  }
  .portfolioSection .wrapper .portfolioContent .portfolioItem .projectHoverContainer {
    height: 450px;
  }
  .contactSection .wrapper .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .contactSection .wrapper .contactContainer .contactFormContainer {
    width: 100%;
  }
  .contactSection .wrapper .contactContainer .contactFormContainer h4, .contactSection .wrapper .contactContainer .contactFormContainer p {
    text-align: center;
  }
  .contactSection .wrapper .contactContainer .contactFormContainer form .formBtn {
    width: 70%;
    margin: 20px auto;
  }
  .contactSection .wrapper .contactContainer .contactDetailsContainer h4, .contactSection .wrapper .contactContainer .contactDetailsContainer p {
    margin-bottom: 30px;
  }
  .contactSection .wrapper .contactContainer .contactDetailsContainer h4 {
    text-align: center;
  }
  .contactSection .wrapper .contactContainer .contactDetailsContainer h5 {
    margin-bottom: 10px;
    text-align: center;
  }
  .contactSection .wrapper .contactContainer .contactDetailsContainer .contactDetailsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  .contactSection .wrapper .contactContainer .contactDetailsContainer .socialList {
    margin-left: 60px;
  }
  .contactSection .wrapper .contactContainer .contactDetailsContainer .socialList li {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .wrapper {
    margin: 1rem;
  }
  .mainSection .main-content {
    padding: 30px 0;
  }
  .mainSection .btn {
    margin: 0 auto;
  }
  nav .wrapper .navMenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .wrapper .navMenu .logoImg {
    width: 100px;
  }
  nav .wrapper .navMenu .navBarList {
    display: none;
    visibility: hidden;
  }
  .aboutSection .wrapper .textContainer {
    text-align: center;
    margin-bottom: 20px;
  }
  .aboutSection .wrapper .textContainer h3 {
    margin-top: 0;
  }
  .skillContainer .wrapper .skillsCoding,
  .skillContainer .wrapper .skillsDesign {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px 70px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .skillContainer .wrapper .skillsCoding li i,
  .skillContainer .wrapper .skillsDesign li i {
    font-size: 7rem;
  }
  .skillContainer .wrapper .skillsCoding li img,
  .skillContainer .wrapper .skillsDesign li img {
    width: 80px;
  }
  .resumeContainer .wrapper .timelineContainer h5 {
    font-size: 1.5rem;
  }
  .resumeContainer .wrapper .timelineContainer p {
    font-size: 1.2rem;
  }
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeLeft::after,
  .resumeContainer .wrapper .timelineContainer .educationContainer ul .resumeRight::after,
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeLeft::after,
  .resumeContainer .wrapper .timelineContainer .experienceContainer ul .resumeRight::after {
    left: -67px;
  }
  .portfolioSection .wrapper .portfolioFilterList {
    display: none;
    visibility: hidden;
  }
  .portfolioSection .wrapper .filterDropdown {
    display: block;
    visibility: visible;
    margin-bottom: 20px;
    width: 80%;
  }
  .portfolioSection .wrapper .filterDropdown select {
    font-family: "Jost", sans-serif;
    border: 3px solid #f5a945;
    border-radius: 30px;
    background: transparent;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: color 0.8s, background-color 0.8s, border-color 0.8s, -webkit-box-shadow 0.8s;
    transition: color 0.8s, background-color 0.8s, border-color 0.8s, -webkit-box-shadow 0.8s;
    transition: color 0.8s, background-color 0.8s, box-shadow 0.8s, border-color 0.8s;
    transition: color 0.8s, background-color 0.8s, box-shadow 0.8s, border-color 0.8s, -webkit-box-shadow 0.8s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .portfolioSection .wrapper .filterDropdown select:hover,
  .portfolioSection .wrapper .filterDropdown select:focus,
  .portfolioSection .wrapper .filterDropdown select:active {
    color: #fff3f3;
    background-color: #e57769;
    border-color: #e57769;
    -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, 0.16);
            box-shadow: 0 0 22px rgba(0, 0, 0, 0.16);
  }
  .portfolioSection .wrapper .portfolioContent {
    gap: 0;
  }
  .portfolioSection .wrapper .portfolioContent .portfolioItem .projectHoverContainer {
    height: 375px;
  }
  .portfolioSection .wrapper .portfolioContent .portfolioItem .projectTitleContainer {
    margin-bottom: 30px;
  }
  .portfolioSection .wrapper .portfolioMoreBtn {
    margin-top: 50px;
  }
  footer .wrapper p {
    font-size: 0.9rem;
  }
}